/* asterisk wildcard selector to override default styles added by the browser */

 /* Google fonts import */
 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */

body{
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    color:aqua
}

header {
    background-color: blue;
    
}

main {
    background-color: green;
    /* make main element take up surplus space to push footer down */
    flex: 1 0 auto;
}

footer {
    background-color: orange;
    
}